@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

:root {

   /* Dimensions */
   --width-full: 100%;
   --width-12col: 1200px;     

   /* Grid Settings */
   --grid-gap: 10px;

   --padding-default: 20px;

   /* Colors */
   --background-color-navigation: #00000088;
   --background-color-light: #ededed;
   --background-color-dark-bg: #111111;
   --primary-color: #bf5b23;
   --color-white: #ffffff;
   --color_dark: #373737;
   --color-light: #ebebeb;


   /* color swatch category */
   --category-seafood: #3E30E2;
   --category-chicken: #249C8E;
   --category-meats: #D09189;
   --category-veg: #298F3F;
   --category-dessert: #9374EB;
   --category-misc: #9A951E;
   --category-pasta: #BF5B23;
}

/* reset CSS */
* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

/** Global Styles */
.category-seafood {
  color:var(--category-seafood);
}

body {
  background-color:var(--background-color-dark-bg);
  font-family: "Roboto", sans-serif;
}

.container {
  background-color: var(--background-color-dark-bg);
  width:var(--width-full);
  height:auto;
}

.navigation {
  background-color: var(--background-color-navigation);
  position:relative;
  z-index: 1000;
}

.menu-container {
  width:var(--width-12col);
  margin: 0 auto;
}

.menu-container ul {
  display:flex
}

.menu-container ul li {
  list-style-type: none;
  margin:10px 0 10px 0;
}

.menu-container ul li a {
  color:var(--background-color-light);
  text-decoration: none;
  text-transform: uppercase;
  border-right: 1px solid var(--background-color-light);
  padding: 0 10px 0 10px;
}

.menu-container ul li a:hover {
  color:var(--primary-color);
}

.menu-container ul li:last-child a {
  border-right: none;
}

.hero { /* Parent with 100% width*/
  background-image: url(/img/headline.jpeg);
  width:var(--width-full);
  height:auto;
  min-height:600px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  margin-top:-40px;
  color:var(--background-color-light);
} 

.hero-about-us {
  background-image: url(/img/about-us.jpg);
  width:var(--width-full);
  height:auto;
  min-height:600px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  margin-top:-40px;
  color:var(--background-color-light);
} 

.hero-container {/* child to follow to 12 column */
  display:grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto auto auto;
  width:var(--width-12col);
  gap:var(--grid-gap);
  margin: 0 auto;
} 

.hero-text {
  grid-column: 1 / span 4;
  margin-top:200px;
  grid-row: 1;
}

.hero-text-smallest {
  font-size: 12px;
}

.hero-text-medium {
  font-size: 32px;
  text-transform: uppercase;
  margin-top:15px;
}

.hero-text-large {
  font-size: 37px;
  text-transform: uppercase;
  font-weight: 900;
  margin-top:5px;
  margin-bottom:15px
}

.hero-search {
  grid-column: 2 / span 3;
  margin-top:60px;
  grid-row: 2;
  position: relative;
}

.search-input {
  background-color: transparent;
  -webkit-appearance: none;
  outline:none;
  border: 1px solid var(--background-color-light);
  border-radius: 5px;
  padding: 10px 20px 10px 40px;
  color:var(--background-color-light)
}

.search-input::placeholder {
  color:var(--background-color-light);
}
#search-icon{
  position: absolute;
  top: 9px;
  left: 13px;
}
/* Working now, copy this */
.todays_recipe {  
  height: fit-content;
  width:var(--width-full);
  display:grid;
  grid-template-columns: 1fr;
  grid-template-rows: 130px auto;
  gap:var(--grid-gap);
  padding-top: 68px;
}  /* end copy */


.todays_recipes_content_block_image {
/*   clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
 */}

.todays_recipes_content_block_image img {
  height: 200px;
  width:100%;
  background-size: cover ;
  background-position: center;
  border-radius: 5px 5px 0 0;
  object-fit: cover;
  object-position: center;

}

.todays_recipes_headline {
  color:var(--color-white);
  height:60px;
  border-bottom: 1px solid var(--color-white);
  text-transform: uppercase;
  font-weight:700;
  display:flex;
  align-items: center;
  justify-self: flex-start;
  margin:0 auto;
  width:var(--width-12col);
  font-size:50px;
  text-shadow: 1px 1px 2px var(--background-color-dark-bg);
}
 
.todays_recipes_content {
  display:grid;
  grid-template-columns: repeat(4, 1fr);
  gap:var(--grid-gap);
  box-sizing: border-box;
  width:var(--width-12col);
  margin: 0 auto;
}

.todays_recipes_content_block {
  background-color: var(--background-color-light);
  border-radius: 5px;
  box-shadow: 1px 1px 1px var(--background-color-dark-bg);
}

.todays_recipes_content_block_text {
  padding: 20px;
  color: var(--color_dark);
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  flex:1;
}

.todays_recipes_content_block_text h4 {
  text-transform: uppercase;
  font-size:22px;
  font-weight: 700;
  margin:0 0 10px 0;
}

.todays_recipes_content_block_text p {
  font-size: 16px;
  font-family: 'Roboto Condensed', sans-serif;
}

.todays_recipes_content_block_bottom_area {
  display: flex;
  justify-content:space-between ;
  margin:20px 0 0 0;
}
/* refactor later start*/
.todays_recipes_content_block_bottom_area_left {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  padding:0 0 0 10px;
  border-left: 1px solid var(--category-seafood);
  text-transform: uppercase;
}

div[data-category="seafood"] {
  border-left: 1px solid var(--category-seafood);
}

p[data-category="seafood"] {
  color: var(--category-seafood);
}

div[data-category="chicken"] {
  border-left: 1px solid var(--category-chicken);
}

p[data-category="chicken"] {
  color: var(--category-chicken);
}

#cat-test::after{
  content: attr(data-category);
}

div[data-category="dessert"] {
  border-left: 1px solid var(--category-dessert);
}

p[data-category="dessert"] {
  color: var(--category-dessert);
}

div[data-category="pasta"] {
  border-left: 1px solid var(--category-pasta);
}

p[data-category="pasta"] {
  color: var(--category-pasta);
}

#chicken-icon{
  color: var(--category-chicken);
  font-size: 37px;
}

#vegetarian-icon{
  color: var(--category-veg);
  font-size: 37px;
}

#seafood-icon{
  color: var(--category-seafood);
  font-size: 37px;
}

#pasta-icon{
  color: var(--category-pasta);
  width: 37px;
  height: 37px;
}

#snack-icon{
  color: var(--category-misc);
  width: 37px;
  height: 37px;
}

#meat-icon{
  color: var(--category-meats);
  width: 37px;
  height: 37px;
}

#dessert-icon{
  color: var(--category-dessert);
  width: 37px;
  height: 37px;
}

#chicken-color{
  color: var(--category-chicken);
}

#vegetarian-color{
  color: var(--category-veg);
}

#seafood-color{
  color: var(--category-seafood);
}

#pasta-color{
  color: var(--category-pasta);
}

#snack-color{
  color: var(--category-misc);
}

#meat-color{
  color: var(--category-meats);
}

#dessert-color{
  color: var(--category-dessert);
}

/* .category-color {
  color: var(--category-seafood);
} */
/* refactor later end*/

.todays_recipes_content_block_bottom_area_right {}

.todays_recipes_content_block_bottom_area_right button {
  background-color: var(--color_dark);
  border: 1px solid var(--background-color-light);
  padding:8px 16px;
  border-radius:5px;
  font-size: 12px;
  font-weight: 700;
  cursor:pointer;
}

.todays_recipes_content_block_bottom_area_right button a {
  color:var(--background-color-light);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
}

.categories{
  margin-top: 100px;
}

.categories_headline{
    color:var(--color-white);
    height:60px;
    border-bottom: 1px solid var(--color-white);
    text-transform: uppercase;
    font-weight:700;
    margin:100px auto;
    display:flex;
    align-items: center;
    justify-self: flex-start;
    width:var(--width-12col);
    font-size:50px;
    text-shadow: 1px 1px 2px var(--background-color-dark-bg);
}

.categories_content{
  height: 100px;
  background-color: var(--color-light);
  display:grid;
  grid-template-columns: repeat(7, 1fr);
  gap:var(--grid-gap);
  box-sizing: border-box;
  width:var(--width-12col);
  align-items: center;
  border-radius: 15px;
  margin: 0 auto;
}

.categories_content_block{
  text-align: center;
}

.categories_content_block h4{
  font-size: 16px;
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

.content_image_text{
  clip-path: polygon(0 0, 100% 16%, 100% 100%, 0% 100%);
  margin: 100px auto;
  background-image: url(/img/cropped-pic.jpg);
  width:var(--width-full);
  height:auto;
  min-height:600px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: flex-end;
  padding-top: 150px;
}

.content_image_text_box{ 
  width: 367px;
  height: 187px;
  background-color: var(--background-color-light);
  padding: 20px;
  border-radius: 5px;
  
}

.content_image-text-medium{
  font-family: 'Roboto Condensed';
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  margin: 10px;
}

.content_image-text-large{
  font-family: 'Roboto Condensed';
  font-size: 22px;
  color: var(--primary-color);
  text-transform: uppercase;
  font-weight: bold;
  margin: 10px;
}

.content_image-text-small{
  font-family: 'Roboto Condensed';
  font-size: 16px;
  color: var(--color_dark);
  margin: 10px;
}

.content_area_headline{
  color:var(--color-white);
  height:60px;
  border-bottom: 1px solid var(--color-white);
  text-transform: uppercase;
  font-weight:700;
  margin:0 auto;
  display:flex;
  align-items: center;
  justify-self: flex-start;
  width:var(--width-12col);
  font-size:50px;
  text-shadow: 1px 1px 2px var(--background-color-dark-bg);
  margin-bottom: 28px;
}

.content_area {
  max-width: var(--width-12col);
  justify-content: center;
  align-items: center;
  margin: 0 auto;
 }

.content_area_box{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 380px;
  width: 100%;
  height: fit-content;
}

.content_area_text {
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: var(--color-light);
  color: var(--color-white);
  padding: 79px 250px 45px 100px;
  height: 380px;
}

.content_area_text p{
  font-size: 16px;
  color: var(--color_dark);
  font-weight: bold;
  font-family: 'Roboto Condensed';
  border-left: 2px solid var(--primary-color);
  padding-left: 5px;
  margin-bottom: 10px;
  line-height: 14px; /* change this the increase or decrease height of the border */
}

.content_area_text p1{
  font-size: 16px;
  color: var(--color_dark);
  font-family: 'Roboto Condensed';
  margin-bottom: 45px;
}

.content_area_text h3{
  font-size: 22px;
  color: var(--primary-color);
  font-family: 'Roboto Condensed';
  font-weight: bold;
  margin-bottom: 10px;
}
.content_area_image {
  position: relative;
  height: 380px;
}

.content_area_image .douche-image{
  height: 100%;
}

.content_area_text button {
  background-color: var(--color_dark);
  border: 1px solid var(--background-color-light);
  padding:8px 16px;
  border-radius:5px;
  font-size: 18px;
  cursor:pointer;
  height: 40px;
  width: 179px;
  box-shadow: 1px 1px 3px 0px #00000040;
}



.content_area_text button a {
  color:var(--background-color-light);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
}

.social_media, .footer_menu, .spotify_links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

footer{
padding-top: 200px;
}
.footer_section {
  display: grid;
  align-items: center;
  max-width: var(--width-12col);
  margin: 0 auto;
  grid-template-rows: 110px;
  grid-template-columns: repeat(12, 1fr);
  gap: var(--grid-gap);
}

.social_media{
  grid-column: 1 / span 3;
  color: var(--color_dark);
  padding: 10px;
}

.social_media p{
  font-family: 'Roboto Condensed';
  font-size: 13px;
}

.footer_menu{
  grid-column: 4 / span 2;
  border-right: 2px solid var(--color-white);
}

.social_media_text{
  display: flex;
  flex-direction: row;
}

.footer_menu a{
  font-family: 'Roboto Condensed';
  font-size: 13px;
  color:var(--color_dark);
  text-decoration: none;
  font-weight:400;
  margin: 7px 0;
}


.footer_cover{
  background-color: var(--primary-color);
  width: 100%;
}




/* Recipe_page */
.color-primary {
  color:var(--primary-color);
}

.recipe_details {
  display:grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  gap:var(--grid-gap);
  width:var(--width-12col);
  margin: 0 auto;
  padding:100px 0 0 0;
}

.recipe_details_left {
  grid-column: 1 / span 6;
}


.recipe-hero-container {/* child to follow to 12 column */
  display:grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto auto auto;
  width:var(--width-12col);
  gap:var(--grid-gap);
  margin: 0 auto;
} 

.recipe-hero-text {
  grid-column: 1 / span 4;
  margin-top:0px;
  grid-row: 1;
  color: var(--background-color-light);
}

.recipe-hero-text-smallest {
  font-size: 12px;
}

.recipe-hero-text-medium {
  font-size: 32px;
  text-transform: uppercase;
  margin-top:15px;
}

.recipe-hero-text-large {
  font-size: 37px;
  text-transform: uppercase;
  font-weight: 900;
  margin-top:5px;
  margin-bottom:15px
}


/* START HERE */
/* PART I - Three icon+info */
.recipe_details_ingredient_block_info_three{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--grid-gap);
  margin: 30px 0 0 0;
  color: var(--background-color-light);
}

.recipe_details_ingredient_block_info_three_item{
  display: flex;
  padding: 10px 0;
}

.recipe_details_ingredient_block_info_three_item i{
  color: var(--primary-color);
  padding: 0 10px 0 0;
}
/* Part I End */



/* PART II - input field ingredients start */
.recipe_details_ingredients{
  margin: 0 0 30px 0;
  color: var(--background-color-light);
  padding: 20px 20px 5px 20px;
  background: rgb(217,217,217);
  background: linear-gradient(90deg, rgba(217,217,217,0.23) 0%, rgba(217,217,217,0.24) 63%, rgba(217,217,217,0) 100%);
}

.recipe_details_ingredients h4{
  font-size: 24px;
  margin: 0 0 20px 0;
}

.recipe_details_ingredient_block_checkboxes{
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 20px 0;
}

.recipe_details_ingredients label{
  width: 45%;
  display: flex;
  margin: 10px 10px 10px 0;
  font-size: 16px;
  align-items: center;
}

.recipe_details_ingredients input[type="checkbox"]{
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid var(--background-color-light);
  margin-right: 10px;
  cursor: pointer;
  position: relative;
}

.recipe_details_ingredients input[type="checkbox"]:checked{
  background-color: var(--primary-color);
  border: none;
}

.recipe_details_ingredients input[type="checkbox"]:checked::after{
  content: '';
  display: block;
  width: 5px;
  height: 10px;
  border: solid var(--background-color-light);
  border-width: 0 2px 2px 0;
  transform: translate(-50%, -50%) rotate(45deg);
  position: absolute;
  top: 45%;
  left: 50%;
}
/* input field ingredients end - PART II end */



/* PART III - buttons after input fields */
.recipe_details_ingredient_block_buttons{
  display: flex;
  margin: 30px 0 0 0;
}

.recipe_details_ingredient_block_buttons button{
  background-color: transparent;
  border: 1px solid var(--background-color-light);
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 12px;
  text-transform: uppercase;
  margin: 0 10px 0 0;
}

.recipe_details_ingredient_block_buttons button a{
  text-decoration: none;
  color: var(--background-color-light);
}

.recipe_details_ingredient_block_buttons button i{
  color: var(--background-color-light);
}
/* PART III END */



/* Right side top */
.recipe_details_right {
  grid-column: 7 / span 6;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.recipe_details_right_image {
 
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
} 

.recipe_details_right_image img {
  width:100%;
  height: 100%;
  max-width: fit-content;
  max-height: 500px;

}

/* filler to fake rest of page */

.filler_block {
  display: flex;
  justify-content: center;
 }

.recipe_instruction_one {
  display: flex;
  max-width: 1200px;
  width: 100%;
  margin-top: 50px;
  justify-content: center;
}

.instructions_block h2, .ingredients_block h2 {
  font-size: 37px;
  border-bottom: 2px solid var(--background-color-light);
  padding-bottom: 10px;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: var(--background-color-light);
  font-weight: bold;
  font-family: 'Roboto Condensed';
  padding-left: 10px;
}
.instructions_block ol{
  padding: 10px 40px 100px 10px;
}

.ingredients_block ul{
  padding: 10px 10px 100px 40px;
}

.instructions_block ol li {
  margin-bottom: 15px;
  line-height: 26px;
  font-size: 14px;
  font-family: 'Roboto Condensed';
  color: var(--background-color-light);
  width: 560px;
  padding-left: 10px;
}
.ingredients_block ul li{
  line-height: 26px;
  font-size: 14px;
  font-family: 'Roboto Condensed';
  color: var(--background-color-light);
}


.instructions_block ol {
  counter-reset: item;
}

.recipe_details_right {
  grid-column: 7 / span 6;
  height: fit-content;
  display: flex;
  justify-content: flex-end;
}

.recipe_details_right_image {
 
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
} 

.recipe_details_right_image img {
  width:100%;
  height: 100%;
  max-width: fit-content;
  max-height: 500px;

}

.subpage_titles {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  width: var(--width-12col);
  gap: var(--grid-gap);
  margin: 0 auto;
  border-bottom: 1px solid var(--color-white);
  padding-bottom: 15px;
  margin-bottom: 40px;
  margin-top: 77px;
}


.instructions_title {
  grid-column: 1 / span 8;
  color: var(--color-white);
  text-transform: uppercase;
  font-weight: 800;
  font-size: 36px;
  margin: 0;
  text-shadow: 1px 1px 2px var(--background-color-dark-bg);
  font-family: 'Roboto Condensed';
}

.ingredients_title {
  grid-column: 9 / span 4;
  color: var(--color-white);
  text-transform: uppercase;
  font-weight: 800;
  font-size: 36px;
  margin: 0;
  text-shadow: 1px 1px 2px var(--background-color-dark-bg);
  font-family: 'Roboto Condensed';
}

.subpage_area{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: var(--grid-gap);
  color: var(--color-light);
  width: var(--width-12col);
  margin: 0 auto;
}

.instructions {
  grid-column: 1 / span 6;
}

.ingredients {
  grid-column: 9 / span 4;
}

.padding_left{
  padding-left: 15px;
}

.instructions ol li {
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Roboto Condensed';
}

.ingredients ul li {
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Roboto Condensed';
}

.instructions_item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 15px;
}

.step-number {
  font-size: 13px;
  font-weight: 400;
  color: var(--primary-color);
  text-transform: uppercase;
  flex-shrink: 0;
  transform: rotate(-180deg);
  writing-mode: vertical-rl;
  padding-left: 10px;
  letter-spacing: 3px;
  font-family: 'Roboto Condensed';
}

.instructions_item p {
  font-size: 14px;
  margin: 0;
  font-family: 'Roboto Condensed';
}

/* Ingredients Styling */
.ingredients ul {
  padding: 0;
}

.dotts{
  list-style: none;
}

@media(width<1250px){
  :root{
   --width-12col: 100%;
  }

  .content_area_box{
      grid-template-columns: 1fr;
      gap: 10px;
      width: var(--width-full);
  }
  .todays_recipe{
    padding: 68px 20px 0px 20px;
  }

  .categories,
  .content_area,
  .hero-container{
    padding: 0px 20px;
  }

  /* .content_area_image_block{
    max-height: ;
  } */

  .content_area_image_block:nth-child(3) {
    order: 4;
  }

  .content_area_image_block:nth-child(4) {
    order: 3;
  }
  
  .content_area_image {
    position: relative;
    height: var(--width-full);
  }

  .content_area_image_block {
    width: var(--width-full);
  }
  .content_area_text {
   /*  padding: 0; */
  }

  .douche-image {
    width: 100%;
    }
}

@media(width<1000px){
  .todays_recipes_content{
    grid-template-columns: repeat(2,1fr);

    
  }

}

@media(width<768px){
  
}

